name: Build Test

on: push

jobs:
  build-mbedtls:
    name: CMake Project Example (MbedTLS)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/checkout@v3
        with:
          repository: Mbed-TLS/mbedtls
          ref: v2.28.1
          path: mbedtls

      - name: Prepare Sysroot
        id: pi-sysroot
        uses: mariotaku/raspbian-sysroot-action@main

      - name: Install Build Tools
        shell: bash
        # apt-get update was implicitly called, so we don't have to call it here
        run: sudo apt-get -y -qq install crossbuild-essential-armhf cmake

      - name: Build Project
        working-directory: mbedtls
        run: |
          cmake -E make_directory build
          cd build
          cmake .. -DCMAKE_TOOLCHAIN_FILE=${{steps.pi-sysroot.outputs.cmake-toolchain}}
          cmake --build .