name: Build Test

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Prepare Sysroot
        uses: mariotaku/raspbian-sysroot-action@main
        with:
          packages: |
            libraspberrypi-dev
            libsdl2-dev